extend layout

block content
  form(method='post' action='')
    label(for='name') Name:
    input(type='text' id='name' name='name' value=item.name)
    input(type='submit' value='confirm delete')

    ul
      li
        a(href='/item/new') Create New Item
      li
        a(href='/items') See All Items
      li
        a(href='/') Home Page