extend layout

block content
  form(method='post'   action='')
    label(for='name') Name:
    input(id='name' name='name' type='text')
    label(for='lastname') Lastame:
    input(type='text' id='lastname' name='lastname')
    label(for='numberOfDays') Number of days:
    input(type='number' id='numberOfDays' name='numberOfDays')
    label(for='dayOfWeek') Day:
    input(type='text' id='dayOfWeek' name='dayOfWeek')
    input(type='submit' value='enter')

  ul
    li
      a(href='/') Home Page
    li
      a(href='/items') See All Items